<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="false" name="Advantageonline RegressionSuite">
  <parameter name="browser" value="chrome"></parameter>
  <test name="Test">
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
